body {
  color: dodgerblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 50%;
  }
  main {
    padding-left: 10px;
    padding-right: 10px;
  }
  header h1 {
    font-weight: lighter;
  }
  article.main-page-content {
    display: flex;
    flex-direction: column;
  }
  h2.headline {
    display: flex;
    font-weight: bold;
    align-items: flex-start;
    width: 70%;
    font-size: 30px;
  }
  h3.headline {
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 13em;
  }
  h3.headline-center {
    text-align: center;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 13em;
  }
  /* email form */
  .email-form {
    height: 60px;
  }
  .email-form button {
    background-color: dodgerblue;
    color: white;
    font-family: inherit;
    border: none;
    height: 100%;
    width: 120px;
    vertical-align: middle;
    font-size: 20px;
    /* :hover {
        border: 1px solid #1052B4;
     */
  }
  button:hover {
    border: 1px solid #1052b4;
  }
  button:active {
    position: relative;
    top: 1px;
  }
  .email-form input {
    background-color: rgb(208, 232, 248);
    font-family: inherit;
    border: none;
    height: 100%;
    vertical-align: middle;
    font-size: 20px;
  }
  p {
    margin: auto;
    text-align: center;
    padding: 10px;
  }
  .features {
    display: flex;
    flex-wrap: wrap;
  }
  .feature-card {
    flex-basis: 50%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
}

@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
