body {
  color: dodgerblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 50%;
  }
  main {
    padding-left: 10px;
    padding-right: 10px;
  }
  header h1 {
    font-weight: lighter;
  }
  article.main-page-content {
    display: flex;
    flex-direction: column;
  }
  h2.headline {
    display: flex;
    font-weight: bold;
    align-items: flex-start;
    width: 70%;
    font-size: 30px;
  }
  h3.headline {
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 13em;
  }
  h3.headline {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 13em;
  }
  h3.headline-center {
    text-align: center;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 13em;
  }
  /* email form */
  .email-form {
    height: 60px;
  }
  .email-form button {
    background-color: dodgerblue;
    color: white;
    font-family: inherit;
    border: none;
    height: 100%;
    width: 120px;
    vertical-align: middle;
    font-size: 20px;
  }
  .newsletter-form {
    height: 60px;
  }

  button:hover {
    border: 1px solid #1052b4;
  }
  button:active {
    position: relative;
    top: 1px;
  }
  .email-form input {
    background-color: rgb(208, 232, 248);
    font-family: inherit;
    border: none;
    height: 100%;
    vertical-align: middle;
    font-size: 20px;
  }
  .newsletter-form input {
    background-color: rgb(208, 232, 248);
    font-family: inherit;
    border: none;
    height: 100%;
    width: 220px;
    vertical-align: middle;
    font-size: 16px;
  }
  .newsletter-form button {
    background-color: rgb(208, 232, 248);
    font-family: inherit;
    border: none;
    height: 100%;
    width: 60px;
    vertical-align: middle;
  }
  p {
    margin: auto;
    text-align: center;
    padding: 10px;
  }
  /* feature card */
  .features {
    display: flex;
    flex-wrap: wrap;
  }
  .feature-card {
    flex-basis: 46%;
    display: flex;
    padding: 2%;
    flex-grow: 1;
    flex-direction: column;
  }
  .feature-card h5 {
    margin: 0;
    font-weight: lighter;
  }
  footer {
    background-color: rgb(226, 225, 225);
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 10px;
  }
  footer h6 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: lighter;
    width: 80%;
    margin: 15px 0 15px 0;
    color: #696969;
    font-size: 14px;
  }
  .nav-footer {
    display: flex;
    flex-wrap: wrap;
  }
  .page-nav {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    padding-inline-start: 0;
  }
  /* spacing list items */
  .social-nav {
    padding-inline-start: 0;
  }
  .nav-footer li {
    list-style: none;
    padding-bottom: 15px;
  }
  .social-nav li img {
    width: 15px;
    height: 15px;
  }
  .footer-license {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }
}

@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
